{% extends "base.html" %}
{% block title %}Create New User{% endblock %}
{% block content %}
<h1>Create New User</h1>
<!-- This also assumes user doesn't create 2 of the same users -->
<form action="/users/new" method="POST">
    <p><b>First name</b></p>
    <input type="text" name="first_name" placeholder="first name">
    <p><b>Last name</b></p>
    <input type="text" name="last_name" placeholder="last name">
    <p><b>Image URL</b></p>
    <input type="text" name="image_url" placeholder="image url">
    <button>Submit User</button>
</form>
<br>
<form action="/">
    <button>Go back</button>
</form>
{% endblock %}